<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Form Exercise</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center display-2">Part 1</h1>
      <form action="#">
        <h4>Billing Address</h4>
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="text" name="fullname" placeholder="Full Name" id="fullname" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" placeholder="Username" name="username" id="username" class="form-control">
          </div>
        </div>
        
        <div class="form-group">
          <label for="email">E-mail <span class="text-muted">(Optional)</span></label>
          <input type="email" name="email" placeholder="you@example.com" id="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="address1">Address</label>
          <input type="text" name="address1" placeholder="1234 Market St." id="address1" class="form-control">
        </div>

        <div class="form-group">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" name="address2" placeholder="Apartment or Suite" id="address2" class="form-control">
        </div>

        <div class="form-group">
          <label for="notes">Special Notes <span class="text-muted">(Optional)</span></label>
          <textarea name="notes" id="notes" rows="3" class="form-control"></textarea>
          <small class="text-muted">Include any special requests you have for us!</small>
        </div>
        
        <div class="form-group">

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="customCheck1" id="customCheck1">
            <label for="customCheck1" class="custom-control-label">Shipping Address is same as billing</label>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="customCheck2" id="customCheck2">
            <label for="customCheck2" class="custom-control-label">Save my info for next time</label>
          </div>

        </div>
        <hr>
        <h4>Shipping Options</h4>
        <div class="form-group">

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio" id="customRadio1">
            <label for="customRadio1" class="custom-control-label">Same Day Shipping</label>
          </div>

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio" id="customRadio2">
            <label for="customRadio2" class="custom-control-label">Next Day Shipping</label>
          </div>
          
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio" id="customRadio3">
            <label for="customRadio3" class="custom-control-label">3-5 Business Days</label>
          </div>
        </div>
        <input type="submit" value="Continue to Checkout" class="btn btn-primary btn-lg btn-block my-4">
      </form>
    </div>

    <h1 class="text-center display-2">Part 2</h1>
    <div class="container border rounded mb-5" style="width: 400px">
      <form action="#" class="p-4">
        <h4 class="text-center mb-4">Sign In</h4>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name="remember" id="remember" class="custom-control-input">
            <label for="remember" class="custom-control-label">Remember me</label>
          </div>
        </div>
        <input type="submit" value="Sign In" class="btn btn-info btn-lg btn-block">
        <p class="text-center my-1">Not a member? <a href="#" class="text-info">Register</a></p>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>